# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env/
.env

# Environment variables (VERY IMPORTANT)
.env

# Mac files
.DS_Store

# Logs
*.log

# Excel files (IMPORTANT for your case)
*.xlsx
*.xls
*.xlsm
*.xlsb

# Node (if frontend inside same repo)
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Cache
.cache/
